[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prettyprinter = "*"

[packages]
boto3 = "*"
msgpack = "*"
discord = "*"
fuzzywuzzy = "*"
python-pushover = "*"
loguru = "*"
python-levenshtein = "*"
uvloop = "*"
pytz = "*"

[requires]
python_version = "3.8"
